.cards__item {
	display: grid;
	grid-template-columns: 21px 1fr 22px 20px;
	grid-template-rows: 282px 1fr;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	max-width: 282px;
	min-height: 361px;
	position: relative;
}