.popup__submit {
	margin: 48px 0 0;
	border: none;
	border-radius: 2px;
	width: 100%;
	min-height: 50px;
	text-align: center;
	background-color: #000;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

@media screen and (max-width: 1023px) {
	.popup__submit {
		font-size: 14px;
		line-height: 16px;
	}
}