.popup__close {
	width: 32px;
	height: 32px;
	background-image: url('../../../images/close-icon.svg');
	background-color: transparent;
	border: none;
	position: absolute;
	top: -40px;
	right: -40px;
}

@media screen and (max-width: 1023px) {
	.popup__close {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 0;
		background-image: url('../../../images/Close-Icon_w200.svg');
	}
}