.profile__btn-add {
	margin-left: auto;
	width: 150px;
	height: 50px;
	background-image: url('../../../images/add.svg');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
}

@media screen and (max-width: 1023px) {
	.profile__btn-add {
		margin: 0;
		width: 100%;
		padding: 0;
		box-sizing: border-box;
	}
}